.card{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

li{
    list-style-type: none;
    cursor: pointer;
    margin: 10 px 0;
    padding: 8px;
}

li .card:hover{
   border: 1px solid blue;
}

ol{
    padding:2px;
}